Host Name, Connectivity Status, Operating System, Copy Status, Execution Status

{% for host in groups['all'] -%}

{{host}},
    {%- if host in down -%}
Unreachable,Unknown,Failed,Failed
      {%- elif hostvars[host]['ansible_distribution'] !='RedHat' -%}
Reachable,OS Family Not Supported,Unsuccessful,Unsuccessful
      {%- elif hostvars[host]['ansible_distribution'] =='RedHat' -%}
Reachable,{{hostvars[host]['ansible_facts']['distribution']}},
        {%- if hostvars[host]['script']['rc'] != 0 -%}
Failed,Failed
          {%- else -%}
Successful,Successful
        {%-endif-%}
    {%- endif %}

{%endfor-%}


