Host Name, Execution Status, Description

{% for host in groups['all'] -%}
{{host}},
    {%- if host in down -%}
Failed,Server Not Reachable
      {%- elif hostvars[host]['ansible_distribution'] !='RedHat' -%}
Failed,OS Not Supported
      {# %- elif hostvars[host]['ansible_distribution'] =='RedHat' and  hostvars[host]['script']['rc'] == 0 -% #}
      {%- elif hostvars[host]['ansible_distribution'] =='RedHat' -%}
Successful,{{hostvars[host]['script']['stdout_lines'][0]}}
    {%-endif%}

{%endfor-%}
